Angular1-Tutorial/*/*/libs
Angular1-Tutorial/*/end/node_modules/
Angular1-Tutorial/*/start/node_modules/
Angular2-Tutorial/*/*/node_modules
Angular1-And-Angular2-Tutorials-With-Demo-App/Angular1-Client/libs
Angular1-And-Angular2-Tutorials-With-Demo-App/Angular1-Client/node_modules
Angular1-And-Angular2-Tutorials-With-Demo-App/Angular2-Client/node_modules
Angular1-And-Angular2-Tutorials-With-Demo-App/Angular2-Client/app/components/*/*.js
Angular1-And-Angular2-Tutorials-With-Demo-App/Angular2-Client/app/components/*/*.js.map
Angular1-And-Angular2-Tutorials-With-Demo-App/Server/packages
Angular1-And-Angular2-Tutorials-With-Demo-App/Server/FoodAPI/obj
Angular1-And-Angular2-Tutorials-With-Demo-App/Server/FoodAPI/bin
Angular1-And-Angular2-Tutorials-With-Demo-App/Angular2-Client/typings
Angular2-Tutorial/01_Components/end/app/myFirstComponent/myfirst.component.js
Angular2-Tutorial/01_Components/end/app/myFirstComponent/myfirst.component.js.map
Angular1-And-Angular2-Tutorials-With-Demo-App/Server/FoodAPI/Properties/PublishProfiles
Angular1-And-Angular2-Tutorials-With-Demo-App/Server/.vs
ASPNET-Demo-A1-A2/Angular1-Client/libs
ASPNET-Demo-A1-A2/Angular1-Client/node_modules
ASPNET-Demo-A1-A2/Angular2-Client/node_modules/
ASPNET-Demo-A1-A2/Server/FoodAPI/bin
ASPNET-Demo-A1-A2/Server/FoodAPI/obj
ASPNET-Demo-A1-A2/Server/FoodAPI/packages
ASPNET-Demo-A1-A2/Server/packages
ASPNET-Demo-A1-A2/Angular2-Client/typings
ASPNET-Demo-A1-A2/Server/FoodAPI/Properties/PublishProfiles/
Angular1-Tutorial/10_Routing/end_v1/node_modules
Angular1-Tutorial/10_Routing/end_v2/node_modules
Angular2-Tutorial/00_Angular5MinQuickStart/node_modules/

Angular1-Tutorial/00_HelloWorld/libs/
Angular1-Tutorial/00_HelloWorld/node_modules/
