<div class="alert alert-info alert-dismissible" ng-show="$ctrl.inProgress">
    <strong>Info!</strong> Working...
</div>

<form data-ng-submit="$ctrl.saveFood()">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Foodname" ng-model="$ctrl.food.Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Calories</label>
        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Calories" ng-model="$ctrl.food.Calories">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>