<table class="table">
    <tr>
        <th><a href="" data-ng-click="predicate = 'Name'; reverse=!reverse">Name</a></th>
        <th><a href="" data-ng-click="predicate = 'Calories'; reverse=!reverse">Calories</a></th>
        <th class="text-right">Actions</th>
    </tr>
    <tr data-ng-repeat="food in $ctrl.foods | orderBy:predicate:reverse track by $index">
        <td class="text-left">
            {{::food.Name}}
        </td>
        <td class="text-left">
            {{::food.Calories}}
        </td>
        <td class="text-right">
            <button data-ng-click="$ctrl.deleteFood(food)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            <button data-ng-click="$ctrl.setFoodItemForEdit(food)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button>
            <a ui-sref="food({id: food.Id})" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span> Details</a>
        </td>
    </tr>
</table>